:root,
[data-neutral="color-neutral"]{
    --color-black: #101010;
    --color-white: #ffffff;
}

:root,
[data-blue-primary="blue-primary"]{
    --pab-50: #f1f9fe;
    --pab-100: #e1f3fd;
    --pab-200: #bde7fa;
    --pab-300: #83d5f6;
    --pab-400: #45c2f0;
    --pab-500: #18a9df;
    --pab-600: #0b88be;
    --pab-700: #0a6d9a;
    --pab-800: #0c5b80;
    --pab-900: #104c6a;
    --pab-950: #0b3046;
}
:root,
[data-stratos-primary="stratos-primary"]{
    --pas-50: #f2f5ff;
    --pas-100: #e7eaff;
    --pas-200: #d2d9ff;
    --pas-300: #aeb9ff;
    --pas-400: #818cff;
    --pas-500: #4e54ff;
    --pas-600: #2e2afd;
    --pas-700: #1f18e9;
    --pas-800: #1a13c4;
    --pas-900: #1812a0;
    --pas-950: #06064f;
}

.pab-50{
    color: var(--pab-50) !important;
}
.pab-100{
    color: var(--pab-100) !important;
}
.pab-200{
    color: var(--pab-200) !important;
}
.pab-300{
    color: var(--pab-300) !important;
}
.brand-blue{
    color: var(--pab-400) !important;
}
.pab-400{
    color: var(--pab-400) !important;
}
.pab-500{
    color: var(--pab-500) !important;
}
.pab-600{
    color: var(--pab-600) !important;
}
.pab-700{
    color: var(--pab-700) !important;
}
.pab-800{
    color: var(--pab-800) !important;
}
.pab-900{
    color: var(--pab-900) !important;
}
.pab-950{
    color: var(--pab-950) !important;
}

.pas-50{
    color: var(--pas-50) !important;
}
.pas-100{
    color: var(--pas-100) !important;
}
.pas-200{
    color: var(--pas-200) !important;
}
.pas-300{
    color: var(--pas-300) !important;
}
.brand-stratos{
    color: var(--pas-400) !important;
}
.pas-400{
    color: var(--pas-400) !important;
}
.pas-500{
    color: var(--pas-500) !important;
}
.pas-600{
    color: var(--pas-600) !important;
}
.pas-700{
    color: var(--pas-700) !important;
}
.pas-800{
    color: var(--pas-800) !important;
}
.pas-900{
    color: var(--pas-900) !important;
}
.pas-950{
    color: var(--pas-950) !important;
}

/* Start bg */

.bg-pab-50{
    background-color: var(--pab-50) !important;
}
.bg-pab-100{
    background-color: var(--pab-100) !important;
}
.bg-pab-200{
    background-color: var(--pab-200) !important;
}
.bg-pab-300{
    background-color: var(--pab-300) !important;
}
.brand-blue{
    background-color: var(--pab-400) !important;
}
.bg-pab-400{
    background-color: var(--pab-400) !important;
}
.bg-pab-500{
    background-color: var(--pab-500) !important;
}
.bg-pab-600{
    background-color: var(--pab-600) !important;
}
.bg-pab-700{
    background-color: var(--pab-700) !important;
}
.bg-pab-800{
    background-color: var(--pab-800) !important;
}
.bg-pab-900{
    background-color: var(--pab-900) !important;
}
.bg-pab-950{
    background-color: var(--pab-950) !important;
}

.bg-pas-50{
    background-color: var(--pas-50) !important;
}
.bg-pas-100{
    background-color: var(--pas-100) !important;
}
.bg-pas-200{
    background-color: var(--pas-200) !important;
}
.bg-pas-300{
    background-color: var(--pas-300) !important;
}
.brand-stratos{
    background-color: var(--pas-400) !important;
}
.bg-pas-400{
    background-color: var(--pas-400) !important;
}
.bg-pas-500{
    background-color: var(--pas-500) !important;
}
.bg-pas-600{
    background-color: var(--pas-600) !important;
}
.bg-pas-700{
    background-color: var(--pas-700) !important;
}
.bg-pas-800{
    background-color: var(--pas-800) !important;
}
.bg-pas-900{
    background-color: var(--pas-900) !important;
}
.bg-pas-950{
    background-color: var(--pas-950) !important;
}

.color-red,
.color-red span {
    color: #DA164E !important
}

.color-black{
    color: var(--color-black) !important;
}
.color-white{
    color: var(--color-white) !important;
}