* {
    box-sizing: border-box;
    font-family: "HostGrotesk-Regular";
    font-size: 16px;
}

.body {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.disabled {
    opacity: .15 !important;
    pointer-events: none !important;
}

.disabled-light {
    opacity: .55 !important;
    pointer-events: none !important;
}

.section {
    width: 100%;
}

.section.comp {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* forms */

.form {
    width: 100%;
}

.form .form-field {
    width: 100%;
    margin-bottom: 0.3rem;
}

.form .form-field .row [class*="col-"]:first-child {
    padding-right: 0.5rem !important;
}

.form .form-field .row [class*="col-"]:last-child {
    padding-left: 0.5rem !important;
}

.form-control {
    min-height: 45px;
    font-size: 14px;
    padding: 0.5rem 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.4rem;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: none;
    border: 1px solid #dee2e6;
}

.form-control.show-focus:focus,
input.show-focus:focus {
    border: 1px solid var(--pab-400);
}

.form-control.error.show-focus:focus,
input.error.show-focus:focus {
    border: 1px solid var(--color-red);
}

.form-control.error {
    border: 1px solid var(--color-red);
}

.form-control.sz-xsm {
    min-height: 30px;
    height: 30px;
}

.form-control.sz-sm {
    min-height: 40px;
    height: 40px;
}

.form-control.sz-rg {
    min-height: 45px;
}

.form-control.sz-md {
    min-height: 50px;
}

.form-control.sz-lg {
    min-height: 56px;
}

.form-control.sz-xlg {
    min-height: 60px;
}

.form-control.sz-xxlg {
    min-height: 68px;
}

/* select box */
.select-box.dropdown .control.sm {
    min-height: 38px;
    height: 38px;
}

.select-box.dropdown .control.sm .single {
    padding-left: 0.2rem;
}

.phone-input {
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.phone-input .select-box {
    width: auto;
    background-color: #fff;
    border-radius: 0.375rem;
}

.phone-input .select-box .menu {
    width: 220px;
}

.phone-input .select-box .control .single {
    padding-right: 0 !important;
}

.phone-input .select-box .control .single .single__image,
.phone-input .select-box .control .single .single__image img {
    margin-right: 0;
}

.phone-input .select-box .control .indicator-box .indicator {
    padding: 5px 3px;
}

.phone-input .form-control {
    border: none;
}

.phone-input .form-control:focus {
    border: none;
}

.country-input {
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    background-color: #fff;
}

.country-input .select-box {
    background-color: #fff;
    border-radius: 0.375rem;
}

.pin-input {
    width: 100%;
    display: flex;
    align-items: center;
}

.pin-input input {
    margin: 0 1.5%;
    text-align: center;
}

.pin-input input:first-child {
    margin-left: 0;
}

.pin-input input:last-child {
    margin-right: 0;
}

.custom-modal {
    border: none !important;
    padding: 0 !important;
}

.custom-modal .modal-body {
    border: none !important;
    padding: 0 !important;
}

.custom-modal .modal-dialog {
    max-width: 750px;
    margin: 0 auto;
}

.custom-modal.slim-sm .modal-dialog {
    max-width: 300px;
    margin: 0 auto;
}

.custom-modal.slim-md .modal-dialog {
    max-width: 400px;
    margin: 0 auto;
}

.custom-modal.slim-lg .modal-dialog {
    max-width: 550px;
    margin: 0 auto;
}

.custom-modal.slim-xlg .modal-dialog {
    max-width: 650px;
    margin: 0 auto;
}

.custom-modal.slim-xxlg .modal-dialog {
    max-width: 700px;
    margin: 0 auto;
}

.custom-modal .modal-content {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    border: none !important;
}

.custom-modal .cm-body {
    display: flex;
}

.custom-modal .cm-left-box,
.custom-modal.rg .cm-left-box {
    border-radius: 14px 0 0 14px;
    width: 35%;
    min-height: 300px;
}

.custom-modal .cm-right-box,
.custom-modal.rg .cm-right-box {
    padding: 1.4rem 2rem;
    border-radius: 0 16px 16px 0;
    position: relative;
    width: 65%;
    min-height: 300px;
}

.custom-modal.sm .cm-left-box,
.custom-modal.sm .cm-right-box {
    min-height: 250px !important;
}

.custom-modal.md .cm-left-box,
.custom-modal.md .cm-right-box {
    min-height: 380px !important;
}

.custom-modal.lg .cm-left-box,
.custom-modal.lg .cm-right-box {
    min-height: 450px !important;
}

.custom-modal.xlg .cm-left-box,
.custom-modal.xlg .cm-right-box {
    min-height: 500px !important;
}

.custom-modal.flat .cm-left-box {
    display: none;
}

.custom-modal.flat .cm-right-box {
    width: 100%;
}

.custom-modal .cm-header {
    width: 100%;
    display: flex;
    align-items: center;
}

.custom-modal .cm-close-btn {
    margin-left: auto;
}

.round-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    line-height: 34px;
    background-color: var(--pas-100);
    color: var(--pas-800);
    border-radius: 100px;
    outline: none !important;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.round-button.mini {
    width: 16px;
    height: 16px;
    line-height: 18px;
}

.round-button.xsm {
    width: 20px;
    height: 20px;
    line-height: 22px;
}

.round-button.sm {
    width: 24px;
    height: 24px;
    line-height: 26px;
}

.round-button.rg {
    width: 32px;
    height: 32px;
    line-height: 34px;
}

.round-button.md {
    width: 40px;
    height: 40px;
    line-height: 42px;
}

.round-button.lg {
    width: 48px;
    height: 48px;
    line-height: 50px;
}

.round-button.xlg {
    width: 56px;
    height: 56px;
    line-height: 58px;
}

.round-button.xxlg {
    width: 64px;
    height: 64px;
    line-height: 66px;
}

.link-button {
    display: inline-flex;
    align-items: center;
    color: var(--pab-600);
    padding: 0;
}

.link-button.disabled {
    opacity: .65 !important;
    pointer-events: none !important;
}

.alert {
    margin-bottom: 0;
    border-radius: 5px;
    padding: 0.45rem 0.5rem;
    display: flex;
    align-items: center;
    position: relative;
}

.alert .icon-close {
    position: relative;
    top: 1px;
}

.alert .icon-alert {
    position: relative;
    top: 1px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    min-height: 50px;
    border-radius: 5px;
    padding: 10px 18px;
}

.button.reverse-row {
    flex-direction: row-reverse;
}

.button.reverse-column {
    flex-direction: column-reverse;
}

.button.mini {
    min-height: 30px;
    height: 30px;
    font-size: 13px;
    padding: 10px 12px;
}

.button.msm {
    min-height: 34px;
    height: 34px;
}

.button.xsm {
    min-height: 38px;
    height: 38px;
}

.button.sm {
    min-height: 44px;
    height: 44px;
}

.button.rg {
    min-height: 50px;
    height: 50px;
}

.button.md {
    min-height: 54px;
    padding-left: 33px;
    padding-right: 33px;
}

.button.lg {
    min-height: 60px;
    padding-left: 36px;
    padding-right: 36px;
}

.button.button-primary {
    background-color: var(--pas-950);
    color: var(--color-white);
}

.button.button-ghost {
    background-color: transparent !important;
    color: var(--pas-950);
    border: 0.08rem solid var(--pas-950);
}

.button.button-ghost.error {
    color: var(--color-error);
    border: 0.08rem solid var(--color-error);
}

.button.button-ghost.error span {
    color: var(--color-error);
}

.button.button-ghost.info {
    color: var(--color-info);
    border: 0.08rem solid var(--color-info);
}

.button.button-ghost.info span {
    color: var(--color-info);
}

.button.button-ghost.success {
    color: var(--color-success);
    border: 0.08rem solid var(--color-success);
}

.button.button-ghost.success span {
    color: var(--color-success);
}

.button.button-ghost.warning {
    color: var(--color-warning);
    border: 0.08rem solid var(--color-warning);
}

.button.button-ghost.warning span {
    color: var(--color-warning);
}

.button.button-ghost.warning-2 {
    color: var(--color-warning-2);
    border: 0.08rem solid var(--color-warning-2);
}

.button.button-ghost.warning-2 span {
    color: var(--color-warning-2);
}

.button.button-ghost.ongoing {
    color: var(--color-ongoing);
    border: 0.08rem solid var(--color-ongoing);
}

.button.button-ghost.ongoing span {
    color: var(--color-ongoing);
}

.button.disabled {
    opacity: .55 !important;
    pointer-events: none !important;
}

.button.blind {
    opacity: .15 !important;
    pointer-events: none !important;
}

.button.md.disabled.loading,
.button.lg.disabled.loading {
    width: 100% !important;
}

.button.block {
    width: 100%;
}

.placeholder {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #e0e4ec;
    z-index: 2;
    border-radius: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    display: inline-block;
}

.placeholder.flex {
    display: flex;
}

.placeholder .activity {
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;

    background-image: linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    background-image: -moz-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    background-image: -webkit-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));

    z-index: 3;
}

.placeholder .activity.flicker {
    animation: place-loading 1s infinite !important;
}

@keyframes place-loading {
    0% {
        left: -45%;
    }

    100% {
        left: 100%;
    }
}

.loader {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    color: #ffffff;
}

.loader.white {
    color: #ffffff;
}

.loader.primary {
    color: var(--pas-950);
}

.loader.accent {
    color: var(--pab-600);
}

.loader.yellow {
    color: #fbc530;
}

.loader.purple {
    color: #5937a4;
}

.loader.orange {
    color: #FF6416;
}

.loader::before,
.loader::after {
    width: 30px;
    height: 30px;
    display: inline-flex;
    position: absolute;
    content: '';
    border-radius: 100px;
    top: 0;
    left: 0;
}

.loader::before {
    border: 2px solid currentColor;
    opacity: .15;
}

.loader::after {
    border: 2px solid;
    border-color: transparent;
    border-top-color: currentColor;

    -webkit-animation: spin-loader .6s linear;
    animation: spin-loader .6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.loader.md,
.loader.md::before,
.loader.md::after {
    width: 25px;
    height: 25px;
}

.loader.md::before {
    border: 0.1rem solid currentColor;
    opacity: .15;
}

.loader.md::after {
    border: 0.1rem solid;
    border-color: transparent;
    border-top-color: currentColor;
}

.loader.sm,
.loader.sm::before,
.loader.sm::after {
    width: 20px;
    height: 20px;
}

.loader.sm::before {
    border: 0.1rem solid currentColor;
    opacity: .15;
}

.loader.sm::after {
    border: 0.1rem solid;
    border-color: transparent;
    border-top-color: currentColor;
}

.loader.lg,
.loader.lg::before,
.loader.lg::after {
    width: 35px;
    height: 35px;
}

.loader.lg::before {
    border: 0.1rem solid currentColor;
    opacity: .15;
}

.loader.lg::after {
    border: 0.1rem solid;
    border-color: transparent;
    border-top-color: currentColor;
}

.loader.xlg,
.loader.xlg::before,
.loader.xlg::after {
    width: 50px;
    height: 50px;
}

.loader.xlg::before {
    border: 0.1rem solid currentColor;
    opacity: .15;
}

.loader.xlg::after {
    border: 0.1rem solid;
    border-color: transparent;
    border-top-color: currentColor;
}

@-webkit-keyframes spin-loader {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-loader {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* filter */
.filter {
    min-width: 100px;
    max-width: 100%;
    border-radius: 0.4rem;
    border: 1px solid #dee2e6;
    position: relative;
}

.filter:focus,
.filter:hover {
    outline: none;
    box-shadow: none;
    border-color: none;
    border: 1px solid #dee2e6;
}

.filter.show-focus:focus,
.filter.show-focus:hover {
    border: 1px solid var(--pag-200);
}

.filter.error.show-focus:focus,
.filter.error.show-focus:hover {
    border: 1px solid var(--color-red);
}

.filter.error {
    border: 1px solid var(--color-red);
}

.filter .selected {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 45px;
    font-size: 14px;
    padding: 0.5rem 0.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.filter .selected.xsm {
    min-height: 30px;
    height: 30px;
}

.filter .selected.sm {
    min-height: 40px;
    height: 40px;
}

.filter .selected.rg {
    min-height: 45px;
}

.filter .selected.md {
    min-height: 50px;
}

.filter .selected.lg {
    min-height: 56px;
}

.filter .selected.xlg {
    min-height: 60px;
}

.filter .selected.xxlg {
    min-height: 68px;
}

.filter .selected .icon {
    margin-left: auto;
}

.filter .menu {
    min-width: 180px;
    max-height: 170px;
    padding: 0.8rem 0.8rem;
    border-radius: 0.6rem;
    box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.045);
    border: 1px solid rgba(0, 0, 0, 0.035);
    position: absolute;
    z-index: 2;
    background-color: #fff;
    overflow-y: scroll;

    opacity: 0;
    visibility: hidden;

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.filter .menu.bottom {
    margin-top: 4px;
}

.filter .menu.bottom.open {
    opacity: 1;
    visibility: visible;

    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    transform: translateY(4px);
}

.filter .menu.bottom.close {
    opacity: 0;
    visibility: hidden;

    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    transform: translateY(40px);
}

.filter .menu.top {
    margin-top: 0px;
    bottom: calc(113px - 68px);
}

.filter .menu.top.open {
    opacity: 1;
    visibility: visible;

    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.filter .menu.top.close {
    opacity: 0;
    visibility: hidden;

    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    transform: translateY(-40px);
}

.filter .menu .sub-filter-list {
    max-height: 150px;
    overflow-y: scroll;
}

.filter .menu::-webkit-scrollbar,
.filter .menu .sub-filter-list::-webkit-scrollbar {
    display: none;
}

.filter .menu .empty {
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter .menu .filter-item {
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
    margin-bottom: 0.5rem;

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.filter .menu .filter-item span {
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.filter .menu .filter-item:hover,
.filter .menu .filter-item span:hover {
    color: var(--pab-600) !important;
}

.la-filter {
    background-color: var(--pag-50);
    border-color: transparent;
}

.la-filter.show-focus:hover {
    border-color: var(--pag-200);
}


/* auth page */

.auth-page {
    width: 100%;
    height: 100vh;
    display: flex;
    column-gap: 0;
}

.auth-page .halve {
    width: 50%;
    padding: 1.5rem 1.5rem;
}

.auth-page .left-halve {
    background-color: #ffffff;
}

.auth-page .right-halve {
    background-color: #ffffff;
    width: 60%;
    padding-left: 0;
}

.auth-page .auth-board {
    width: 100%;
    height: 100%;
    background-color: #edf0f9;
    border-radius: 20px;
}

.auth-page .logo-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.auth-page .logo {
    width: 160px;
}

.auth-page .auth-form {
    width: 55%;
    margin: 0 auto;
}

.auth-page .left-halve .auth-footer {
    width: calc(100% - 3rem);
}

/* empty-state */
.empty-state {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    border-radius: 14px;
}

.empty-state.flat {
    margin: 0 0;
}

.empty-state.mini {
    min-height: 120px;
    height: 120px;
    margin: 1.5rem 0 !important;
    border-radius: 7px;
}

.empty-state.xsm {
    min-height: 200px;
    height: 200px;
}

.empty-state.sm {
    min-height: 250px;
    height: 250px;
}

.empty-state.rg {
    min-height: 300px;
    height: 350px;
}

.empty-state.md {
    min-height: 450px;
}

.empty-state.lg {
    min-height: 500px;
}

.empty-state.xlg {
    min-height: 550px;
}

/* badge */
.badge {
    display: inline-flex;
    align-items: center;
    background-color: var(--pag-100);
    padding: 0.3rem 0.8rem;
    align-items: center;
    justify-content: center;
    color: var(--pag-900);
    border-radius: 5px;
}

.badge.badge-close {
    padding: 0.3rem 0.5rem;
}

.badge.error {
    color: var(--color-red-dark);
    background-color: #ffd9d9;
}

.badge.success {
    color: var(--color-green-dark);
    background-color: #e0fce7;
}

.badge.info {
    color: var(--color-blue-dark);
    background-color: #e1f1fe;
}

.badge.warning {
    color: var(--color-orange-dark);
    background-color: #fcede3;
}

.badge.warning-2 {
    color: var(--color-yellow-dark);
    background-color: #fcf2df;
}

.badge.ongoing {
    color: var(--color-purple-dark);
    background-color: #eeeaff;
}

.badge.sm {
    padding: 0.2rem 0.6rem;
    height: 17px;
    font-size: 10px !important;
}

.badge.badge-close.sm {
    padding: 0.3rem 0.6rem;
}

.badge.rg {
    padding: 0.3rem 0.8rem;
    height: 21px;
}

.badge.badge-close.rg {
    padding: 0.3rem 0.5rem;
}

.badge.md {
    padding: 0.3rem 1rem;
    height: 25px;
}

.badge.badge-close.md {
    padding: 0.3rem 0.7rem;
}

.badge.lg {
    padding: 0.4rem 1.5rem;
    height: 34px;
    font-size: 12px !important;
}

.badge.badge-close.lg {
    padding: 0.3rem 1rem;
}

/* toast */
.toast {
    position: fixed;
    z-index: 5000;
    width: 300px;
    min-height: 100px;
    padding: 0.55rem 0.95rem;
    border-radius: 8px;
    min-height: 68px;
    background-color: #2196F3;
    box-shadow: 0 8px 40px 0 rgba(96, 108, 115, 0.2);

    top: 0;
    margin-right: 2rem;
    margin-left: 2rem;
    line-height: 20px;
    border: none;
}

.toast.top-left {
    top: 0;
    margin-top: 3rem;
    left: 0;
}

.toast.top-right {
    top: 0;
    margin-top: 3rem;
    right: 0;
}

.toast.top-center {
    top: 0;
    margin-top: 3rem;
    margin-left: 28%;
}

.toast.bottom-left {
    bottom: 0;
    margin-top: -3rem;
    left: 0;
}

.toast.bottom-right {
    bottom: 0;
    margin-top: -3rem;
    right: 0;
}

.toast.bottom-center {
    bottom: 0;
    margin-top: -3rem;
    margin-left: 28%;
}

.toast.toaster {
    display: flex;
    align-items: center;
    min-height: 50px;
    border-radius: 8px;
}

/* listbox */
.listbox {
    width: 100%;
}

.listbox .header {
    width: 100%;
    display: flex;
    align-items: center;
}

.listbox .body {
    width: 100%;
}

.listbox .footer {
    width: 100%;
    display: flex;
    align-items: center;
}

.listbox .header .left-halve,
.listbox .footer .left-halve,
.listbox .header .right-halve,
.listbox .footer .right-halve {
    display: flex;
    align-items: center;
}

.listbox .header .right-halve,
.listbox .footer .right-halve {
    margin-left: auto;
}

.tablebox {
    width: 100%;
}

.tablebox .table {
    border-collapse: collapse;
    border-spacing: 0 2px;
    background-color: transparent;
}

.tablebox .head-row {
    width: 100%;
}

.tablebox .head-row th {
    padding: 0;
    padding: var(--m4-8rem);
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    border-bottom: 1px solid var(--pag-100);
    color: var(--pag-800);
    vertical-align: center !important;
}

.tablebox tbody .cell-data {
    padding: var(--m4-8rem);
    height: 55px;
    vertical-align: middle;
    border-bottom: 1px solid var(--pag-100);
}

.tablebox .cell-data .table-icon:hover {
    color: var(--pab-600) !important;
}

.tablebox .tr,
th,
td {
    background-color: unset;
}

.tablebox .table-row:hover {
    background-color: var(--pab-25);
}

/* popout */
.popout-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.popout {
    position: relative;
}

.popout .trigger {
    display: flex;
    width: 100%;
    align-items: center;
}

.popout .menu {
    min-width: 150px;
    padding: 0.8rem;
    background-color: #fff;
    border-radius: 0.6rem;
    box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.045);
    border: 1px solid rgba(0, 0, 0, 0.035);
    position: absolute;
    z-index: 2;

    opacity: 1;
    visibility: visible;

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.popout .menu.left {
    right: 0;
}

.popout .menu.right {
    left: 0;
}

.popout .menu .empty {
    min-height: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popout .menu .popout-item {
    display: flex;
    align-items: center;
    padding: 0.1rem 0;
    margin-bottom: 0.5rem;

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.popout .menu .popout-item span {
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.popout .menu .popout-item:hover,
.popout .menu .popout-item span:hover {
    color: var(--pab-600) !important;
}

.popout .menu.open {
    opacity: 1;
    visibility: visible;

    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.popout .menu.close {
    opacity: 0;
    visibility: hidden;

    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    transform: translateY(40px);
}

/* resource box */
.details-header {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.details-header .halve .avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pab-200);
    width: 60px;
    height: 60px;
    border-radius: var(--digit-6);
    position: relative;
}

.details-header .halve .avatar.md {
    width: 120px;
    height: 60px;
}

.details-header .halve .avatar.round {
    border-radius: var(--digit-100);
}

.details-header .halve {
    display: flex;
    align-items: center;
    width: 50%;
}

.details-header .halve .actions {
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
    margin-left: auto;
}

.details-block {
    padding: 1rem 0;
}

.details-header .halve .avatar .fileog-btn {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.details-header .halve .avatar .fileog-btn.fade {
    opacity: 0;
}

.details-header .halve .avatar:hover .fileog-btn.fade {
    opacity: 1;
}



/* panel box */
.panel-box {
    position: fixed !important;
    z-index: 1050;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    background-color: rgb(47, 48, 60, 0.8);
    display: flex;
}

.panel-box .panel {
    margin-left: auto;
    width: 460px;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    padding: 1.5rem 2rem;

    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.panel-box .panel-head,
.panel-box .panel-footer {
    display: flex;
    align-items: center;
}

/* react-tabs */
.react-tabs__tab-list {
    border-bottom: 1px solid var(--pag-100) !important;
}

.react-tabs__tab-list {
    display: flex;
    padding-inline: 0 !important;
}

.react-tabs__tab {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    padding: 3px 12px !important;
    padding-bottom: 12px;
    background: transparent !important;
    line-height: 23px;
    font-size: 14px;
    margin-right: 1.5rem;
    list-style: none;
    cursor: pointer;
    color: #15082F !important;
}

.react-tabs__tab--selected {
    border-radius: 0 !important;
    background: transparent;
    border-bottom: 3px solid var(--pab-400) !important;

    color: var(--pab-500) !important;
}

/* drag zone */
.drag-zone {
    width: 100%;
    min-height: 188px;
    padding: 0.4rem;
    position: relative;

    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%23C5CDD9FF' stroke-width='2' stroke-dasharray='4%2c 8' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 15px;
}

.drag-zone .zone {
    width: 100%;
    min-height: 154px;
    border-radius: 12px;
    background-color: var(--pag-25);
    display: flex;
    align-items: center;
    padding: 0 1.3rem;
}

.drag-zone .zone-file {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid var(--pag-200);
    background-color: var(--pag-25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gen-questions-box,
.gen-edit-questions {
    min-height: 575px !important;
    max-height: 570px;
    overflow-y: scroll;
    padding-top: 0.5rem !important;
}

.gen-edit-questions {
    padding-top: 1rem !important;
}

.gen-questions-box::-webkit-scrollbar,
.gen-edit-questions::-webkit-scrollbar {
    display: none;
}

.question {
    width: 100%;
    min-height: 150px;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.015);
    border-radius: 10px;
    border: 1px solid var(--pag-50);
    padding: var(--digit-16rem);
    margin-bottom: 1rem;
}

.question .question-body {
    line-height: 28px;
}

.question.answers-list {
    box-shadow: none;
    padding: var(--digit-24rem) var(--digit-16rem);
}

.question .answers {
    width: 100%;
}

.question .answer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: var(--digit-8);
}

.question.answers-list .answer {
    margin-bottom: var(--digit-16);
}

.question .answer .alphabet {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    min-height: 25px;
    font-size: 14px;
    border-radius: 100px;
    background-color: var(--pab-50);
    color: var(--pab-700);
}

.question .answer .content {
    flex-grow: 1;
}

.question.generated:hover {
    border: 1px solid var(--pab-200);
}

.overview {
    width: 100%;
    padding: var(--digit-16rem) var(--digit-24rem);
    background-color: var(--pab-25);
    border: 1px solid var(--pab-50);
    border-radius: var(--digit-8);
    margin-bottom: var(--digit-24rem);
}

.overview .metrics {
    width: 100%;
    display: flex;
    align-items: center;
    margin: var(--digit-16rem) 0;
}

.overview .metrics .divider {
    width: 1px;
    background-color: var(--pab-200);
    height: 40px;
    margin: 0 var(--digit-32rem);
}

.overview .metrics .metric {
    width: auto;
}