@font-face {
    font-family: 'PlusJakarta-Bold';
    src: url('PlusJakartaSans-Bold.woff2') format('woff2'),
        url('PlusJakartaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakarta-Bold-Italic';
    src: url('PlusJakartaSans-BoldItalic.woff2') format('woff2'),
        url('PlusJakartaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakarta-ExtraBold';
    src: url('PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakarta-ExtraLight';
    src: url('PlusJakartaSans-ExtraLight.woff2') format('woff2'),
        url('PlusJakartaSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakarta-ExtraBold-Italic';
    src: url('PlusJakartaSans-ExtraBoldItalic.woff2') format('woff2'),
        url('PlusJakartaSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakarta-ExtraLight-Italic';
    src: url('PlusJakartaSans-ExtraLightItalic.woff2') format('woff2'),
        url('PlusJakartaSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakarta-Italic';
    src: url('PlusJakartaSans-Italic.woff2') format('woff2'),
        url('PlusJakartaSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakarta-Light';
    src: url('PlusJakartaSans-Light.woff2') format('woff2'),
        url('PlusJakartaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakarta-Light-Italic';
    src: url('PlusJakartaSans-LightItalic.woff2') format('woff2'),
        url('PlusJakartaSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakarta-Medium';
    src: url('PlusJakartaSans-Medium.woff2') format('woff2'),
        url('PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakarta-Medium-Italic';
    src: url('PlusJakartaSans-MediumItalic.woff2') format('woff2'),
        url('PlusJakartaSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakarta-Regular';
    src: url('PlusJakartaSans-Regular.woff2') format('woff2'),
        url('PlusJakartaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakarta-SemiBold';
    src: url('PlusJakartaSans-SemiBold.woff2') format('woff2'),
        url('PlusJakartaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakarta-SemiBold-Italic';
    src: url('PlusJakartaSans-SemiBoldItalic.woff2') format('woff2'),
        url('PlusJakartaSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

.font-plusj-bold, .font-plusj-bold a, .font-plusj-bold span{
    font-family: 'PlusJakarta-Bold';
}

.font-plusj-ibold, .font-plusj-ibold a, .font-plusj-ibold span{
    font-family: 'PlusJakarta-Bold-Italic';
}

.font-plusj-xbold, .font-plusj-xbold a, .font-plusj-xbold span{
    font-family: 'PlusJakarta-ExtraBold';
}

.font-plusj-xlight, .font-plusj-xlight a, .font-plusj-xlight span{
    font-family: 'PlusJakarta-ExtraLight';
}

.font-plusj-ixbold, .font-plusj-ixbold a, .font-plusj-ixbold span{
    font-family: 'PlusJakarta-ExtraBold-Italic';
}

.font-plusj-ixlight, .font-plusj-ixlight a, .font-plusj-ixlight span{
    font-family: 'PlusJakarta-ExtraLight-Italic';
}

.font-iplusj, .font-iplusj a, .font-iplusj span{
    font-family: 'PlusJakarta-Italic';
}

.font-plusj-light, .font-plusj-light a, .font-plusj-light span{
    font-family: 'PlusJakarta-Light';
}

.font-plusj-ilight, .font-plusj-ilight a, .font-plusj-ilight span{
    font-family: 'PlusJakarta-Light-Italic';
}

.font-plusj-medium, .font-plusj-medium a, .font-plusj-medium span{
    font-family: 'PlusJakarta-Medium';
}

.font-plusj-imedium, .font-plusj-imedium a, .font-plusj-imedium span{
    font-family: 'PlusJakarta-Medium-Italic';
}

.font-plusj, .font-plusj a, .font-plusj span{
    font-family: 'PlusJakarta-Regular';
}

.font-plusj-semibold, .font-plusj-semibold a, .font-plusj-semibold span{
    font-family: 'PlusJakarta-SemiBold';
}

.font-plusj-isemibold, .font-plusj-isemibold a, .font-plusj-isemibold span{
    font-family: 'PlusJakarta-SemiBold-Italic';
}